header, footer {
  background-color: black;
  margin: 0 auto;
  padding: 15px;
  color: antiquewhite;
  text-align: center;
}

header {
  border-bottom: 2px solid darkblue;
}

header h1 {
  margin: 0 auto;
}

footer {
  border-top: 2px solid darkblue;
}

.main-frame {
  background: url('./earth.jpg') no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 30px;
  color: antiquewhite;
}

article {
  margin: 0 auto;
  padding: 10px;
}

.sun {
  background-color: coral;
}

.moon {
  background-color: darkorange;
}

.earth {
  background-color: peru;
}

@media only screen and (min-width: 800px) {
  article {
    width: 33.33%;
    display: inline-block;
    padding: 0 0;
    text-align: center;
  }

  .main-frame {
    min-height: 50rem;
    position: relative;
  }

  .main-frame h3 {
    position: absolute;
    font-size: 6rem;
    top: 10%;
    left: 10%;
  }

  .main-frame h4 {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 5rem;
  }
}